___
# Exercício: Análise Exploratória - Medidas Resumo e Histograma
___

## Aula 03

<div id="indice"></div>

## Índice

- [Expectativa de vida](#life)
    - [Exercício 1](#ex1)
    - [Exercício 2](#ex2)
    - [Exercício 3](#ex3)
    - [Exercício 4](#ex4)
___

<div id="life"></div>

## Expectativa de vida

O Banco Mundial (http://data.worldbank.org/brazilian-portuguese) disponibiliza bases de dados estatísticos para um pouco mais de 200 países do mundo desde o ano 1800, as quais consideram uma seleção abrangente de indicadores econômicos, sociais e ambientais. Um desses indicadores é a expectativa de vida (em anos) de cada país.

O arquivo `Life.xlsx` contém a expectativa de vida de vários países para os anos 1800, 1926 e 2000.

In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import os

from numpy import arange

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\mariakv\Dropbox\Insper Aulas\DataScience (2)\2021.2 CD\aulas\aula03 histograma\notebooks

In [3]:
dados = pd.read_excel('Life.xlsx')
dados.head()

                  Pais    L1800      L1926  L2000
0          Afghanistan  28.2110  26.919920   51.0
1              Albania  35.4000  35.400000   74.2
2              Algeria  28.8224  30.968000   73.2
3               Angola  26.9800  26.980000   52.6
4  Antigua and Barbuda  33.5360  37.673931   73.9

[Volta ao Índice](#indice)

___
<div id="ex1"></div>

### EXERCÍCIO 1

Calcule algumas medidas resumo para expectativa de vida para cada ano e interprete.

Explore a evolução dessa medida ao longo do tempo usando essas informações numéricas.

In [4]:
# Coloque seu código aqui

[Volta ao Índice](#indice)

___
<div id="ex2"></div>

### EXERCÍCIO 2

Construa um histograma para cada ano e interprete os gráficos. Compare-os.

IMPORTANTE: lembre-se que o intuito aqui não é só saber como era a expectativa de vida em um particular ano, mas TAMBÉM compará-las ao longo tempo. Assim sendo, faça histogramas que permita que essa comparação também seja feita.

In [5]:
# Coloque seu código aqui

[Volta ao Índice](#indice)

___
<div id="ex3"></div>

### EXERCÍCIO 3

De acordo com o formato de um histograma, é possível classificar a distribuição dos dados como sendo: simétrica, assimétrica positiva (ou a direita) ou assimétrica negativa (ou a esquerda). Veja figura a seguir (fonte: extraída da internet) 
![AssimSim](AssimSim.jpg)


Observe novamente o formato de cada um dos três histogramas construídos para expectativa de vida no [Exercício 2](#ex2).

Para cada ano, classifique os histogramas como sendo simétrico, assimétrico positivo ou assimétrico negativo. Argumente claramente o motivo de sua classificação.

In [6]:
# Coloque sua interpretação aqui.

[Volta ao Índice](#indice)

___
<div id="ex4"></div>

### EXERCÍCIO 4

Observe novamente os valores de média e mediana calculados no [Exercício 1](#ex1).

Para cada um dos três anos, ordene os valores dessas medidas de posição.
Verifique se ordem dessas medidas de posição é um mero acaso ou pode ser consequência do formato dos dados. Argumente claramente sua resposta.

In [7]:
# Coloque seu código aqui

[Volta ao Índice](#indice)